<div class="">
<%= simple_form_for([@post, @post.comments.build]) do |f| %>
    <div class="input-cont">
    <div class="">
        <%= f.input :name, input_html: { class: 'comment-form' }, wrapper: false, label_html: { class: '' } %>
    </div>
    </div>

    <div class="input-cont">
        <div class="">
        <%= f.input :comment, input_html: { class: 'comment-form' }, wrapper: false, label_html: { class: '' }  %>
    </div>
    </div>
    <%= f.button :submit, class: "" %>
<% end %>
</div>