<% content_for :page_title, "Index" %>

<section class="">
    <div class="">
        <% @posts.each do |post| %>
            <div class="">
                <div class="">
                    <div class="">
                        <div class="">
                            <p class=""><%= link_to post.title, post %></p>
                        </div>
                    </div>
                    <div class="">
                        <%= post.content %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</section>