<div class="comment-single">
    <div class="">
            <strong><%= comment.name %>: </strong>
            <%= comment.comment %>
    </div>

    <div class="delete-btn-cont">
        <%= link_to 'Delete', [comment.post, comment], method: :delete, class: "", data: { confirm: "Are you sure?" } %>
    </div>
</div>
<hr />