body {
	background-color: #fefdfc;
	color: #444444;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
}

nav {
	background-color: #c52233;

	a {
		color: #ffffff;
		font-weight: 600;
		text-decoration: none;
		padding: 8px;
	}

	a:hover {
		background-color: #fcf9f7;
		border-radius: 5px;
		color: #c52233;
	}

	ul {
		margin: 0px;
		padding: 15px 0;
	}

	li {
		display: inline-block;
		list-style: none;
		padding: 0 0 0 25px;
	}
}

.page {
	background-color: #ffffff;
	border: 1px solid #444444;
	border-radius: 15px;
	color: #444444;
	margin: 45px auto;
	max-width: 550px;
	text-align: center;
}

main {
	background-color: #ffffff;
	border: 1px solid #444444;
	border-radius: 15px;
	margin: 0 auto;
	max-width: 900px;

	a {
		color: #c52233;
		font-size: 22px;
		font-weight: 600;
		text-decoration: none;
	}

	a:hover {
		color: #efc2c7;
	}
}

.post-content {
	padding: 30px 20px;
}

.post-show {
	padding: 25px;
}

.show-container {
	padding: 0 0 50px 0;
}

.actions {
	display: flex;
	flex-direction: row;
	padding: 0 25px;

	a {
		font-size: 16px;
	}

	ul {
		padding: 0;
	}

	li {
		display: inline-block;
		list-style: none;
		padding: 0 0 0 30px;
	}
}

.comment-form {
	width: 100%;
}

.comment-section {
	padding: 25px 75px;
}

.comment-single {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 35px 0;
	padding: 0 50px;

	a {
		font-size: 14px;
	}
}

.comment-text {
	color: #c52233;
}

.delete-btn-cont {
	a {
		background-color: #c52233;
		border-radius: 5px;
		color: #ffffff;
		padding: 10px;
	}
}

.new-post {
	margin: 20px 40px;

	input {
		font-size: 16px;
		width: 100%;
	}

	.input-cont {
		margin: 5px 0;
	}

	textarea {
		min-height: 200px;
		width: 100%;
	}
}

.new-post-btn-cont {
	display: flex;
	justify-content: center;
}

.new-post-btn {
	background-color: #c52233;
	border-radius: 5px;
	color: #ffffff;
	font-size: 16px;
	margin: 0 10px 25px 10px;
	padding: 10px;
}

.new-post-btn:hover {
	color: #efc2c7;
}

.comment-form {
	margin: 10px;
	width: 100%;
}

footer {
	background-color: #c52233;
	color: #ffffff;
	margin: 55px 0 0 0;
	padding: 15px 25px;
	text-align: right;
}
