<% content_for :page_title, "My Ruby Blog" %>

<section>
    <div>
        <% @posts.each do |post| %>
            <div class="post-show">
                <div class="">
                    <div class="">
                        <p class=""><%= link_to post.title, post %></p>
                    </div>
                </div>
                <div class="">
                    <%= post.content %>
                </div>
            </div>
        <% end %>
    </div>
</section>